<section id="about" class="section dark-section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-down">Sobre Mí</h2>

    <div class="about-content">
      <div class="about-image" data-aos="fade-right" data-aos-delay="200">
        <img src="assets/images/creges2.png" alt="Carlos Reges" />
      </div>

      <div class="about-text" data-aos="fade-left" data-aos-delay="400">
        <h3>¡Hola! Soy Carlos Reges</h3>
        <p>Desarrollador con especialización en tecnologías como JavaScript, Angular, React, Express, Java, MySQL, PostgreSQL, entre otras.</p>

        <p>Mi visión es crear soluciones tecnológicas eficientes y elegantes que resuelvan problemas reales. Me encanta aprender nuevas tecnologías y metodologías para mantenerme actualizado en este campo en constante evolución.</p>

        <div class="about-details" data-aos="fade-up" data-aos-delay="600">
          <div class="detail-item">
            <span class="detail-label">¿Qué aprendo ahora?</span>
            <span class="detail-value">Salesforce y su entorno de desarrollo a través de Trailhead</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">¿Trabajo en algo más?</span>
            <span class="detail-value">Soy profesor de clases particulares en apoyo escolar.</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">¿Dónde vivo?</span>
            <span class="detail-value">Córdoba, Argentina</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">¿Tengo disponibilidad?</span>
            <span class="detail-value">Siempre que me pidan, me encanta aprender y trabajar en nuevos proyectos</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">¿Qué me gusta hacer?</span>
            <span class="detail-value">Ver películas, series y documentales. Cocinar, pasear y compartir con mi familia</span>
          </div>

        </div>

        <div class="about-buttons" data-aos="fade-up" data-aos-delay="800">
          <a href="https://drive.google.com/file/d/1gwQFtbl_oSYAMi42T1MXPe3pOwL8pFiZ/view?usp=sharing" target="_blank" download class="btn btn-primary">
            <i class="fas fa-download"></i> Descargar CV
          </a>
          <a routerLink="/contact" class="btn btn-outline">Contactar</a>
        </div>
      </div>
    </div>
  </div>
</section>
