<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Carlos Reges</a>
    <ul class="navbar-links">
      <li><a routerLink="/" class="nav-link">Inicio</a></li>
      <li><a routerLink="/about" class="nav-link">Sobre mí</a></li>
      <li><a routerLink="/skills" class="nav-link">Habilidades</a></li>
      <li><a routerLink="/projects" class="nav-link">Proyectos</a></li>
      <li><a routerLink="/contact" class="nav-link">Contacto</a></li>
    </ul>
  </div>
</nav>
