<!-- intro section -->
<section id="intro" class="section dark-section" [@fadeInAnimation]>
  <div class="intro-overlay"></div>

  <div class="intro-content">
    <div class="row">
      <div class="col-twelve">
        <h5>Hola, Mundo</h5>
        <h1>Carlos Reges <br>
          <span id="typed-text"></span>
        </h1>

        <p class="intro-position">
          <span>Back-end Developer</span>
          <span>Java</span>
          <span>Angular</span>
          <span>MySQL</span>
          <span>PostgreSQL</span>
        </p>
        <a class="button stroke" routerLink="/about" title="">Sobre mí</a>
      </div>
    </div>
  </div> <!-- /intro-content -->

  <ul class="intro-social">
    <li><a href="https://facebook.com/carlosreges.dev"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://github.com/carlosreges/"><i class="fab fa-github"></i></a></li>
    <li><a href="https://x.com/carlosreges"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://linkedin.com/in/carlosreges"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://www.instagram.com/carlosreges/"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://wa.link/77he57"><i class="fab fa-whatsapp"></i></a></li>
    <li><a href="https://t.me/carlosreges"><i class="fab fa-telegram-plane"></i></a></li>
  </ul> <!-- /intro-social -->
</section> <!-- /intro -->
